*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width : 100%;
    min-height : 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color : #fff;
    padding : 10px;
    display : flex;
    align-items : center;
    justify-content : flex-start;
}
.main{
    margin-left : 10%;
}
.main h1{
    font-size : 3rem;
}
h1:nth-child(2){
    color : #ffff76;
}
.input-box{
    background : rgba(255, 255, 255, 0.3);
    padding : 20px 30px;
    border-radius : 10px;
    display : flex;
    align-items : center;
    gap : 10px;
    margin-top : 20px;
    margin-bottom : 20px;
}
#date{
    font-size : 1rem;
    border : 0;
    outline : 0;
    padding : 10px;
    flex : 1;
    border-radius : 5px;
}
#date::-webkit-calendar-picker-indicato{
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    width : auto;
    height : auto;
    position : absolute;
    background-position : calc(100% - 10px);
    background-size: 30px;
    cursor : pointer;
}
#calculate{
    background-color : #ffff76;
    border : 0;
    outline : 0;
    cursor : pointer;
    font-weight : 500;
    padding : 12px 7px;
    border-radius : 5px;
}